.card {
  width: 344px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  outline: 1px solid black;
  outline-offset: 0;
  background-color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 12px;
}
.card:last-child {
  width: 343px;
}

.card .brand {
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
  width: 100%;
  color: #79736d;
  font-size: 10px;
}

.card .details {
  display: flex;
  width: 100%;
}

.card .details > * {
  display: flex;
}

.card .details {
  display: flex;
  flex-flow: column;
}

.card .refPrice {
  justify-content: space-between;
  flex-flow: row;
}

.card .img-container {
  width: 312px;
  height: 257px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: flex;
}
.card .img-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.Myruler {
  border: 1px solid red;
  position: absolute;
  z-index: 100000;
  width: 222px;
  height: 222px;
  top: 164px;
  left: 64px;
  background-color: rgba(255, 0, 0, 0.3);
}
