.header {
  position: sticky;
  top: 0;
  height: 127px;
  background-color: var(--dl-color-bg-default);
  z-index: 10;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.link {
  text-decoration: none;
}

.logo {
  height: auto;
}
