.header {
  position: sticky;
  top: 0;
  height: 127px;
  background-color: var(--dl-color-bg-default);
  z-index: 10;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.link {
  text-decoration: none;
  display: flex;
}

.logo {
  height: auto;
}

.header .back-button {
  text-decoration: none;
  color: var(--dl-color-default-black);
  display: inline-block;
  margin: 11px 7px 0;
}

.header .icon-back {
  margin-right: 11px;
}
