.section {
  margin: var(--dl-layout-space-unit) 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: var(--dl-layout-space-unit);
}

.title {
  font-size: var(--typography-body-font-weight-bold);
  font-weight: var(--typography-body-font-weight-bold);
  text-transform: uppercase;
  margin-bottom: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-unit);
}

.carrouselContainer {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  padding: var(--dl-layout-space-unit);
  max-width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carrouselContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.carrouselItem {
  flex: 0 0 auto;
}
.carrouselItem a {
  text-decoration: none;
}

.scrollbarTrack {
  position: absolute;
  bottom: var(--dl-layout-space-unit);
  left: var(--dl-layout-space-unit);
  right: var(--dl-layout-space-unit);
  height: 1px;
  background-color: var(--dl-color-fg-subtle);
}

.scrollbarThumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 240px;
  background-color: var(--dl-color-default-black);
  cursor: pointer;
}
