.section {
  margin: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}

.title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-left: 16px;
}

.carrouselContainer {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  padding: 16px;
  max-width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carrouselContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.carrouselItem {
  flex: 0 0 auto;
}
.carrouselItem a {
  text-decoration: none;
}

.scrollbarTrack {
  position: absolute;
  bottom: 20px;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: lightgray;
}

.scrollbarThumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 240px;
  background-color: black;
  cursor: pointer;
}

.section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 1px;
  background-color: #000;
}
