.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  justify-content: center;
  background-color: var(--dl-color-default-black);
  color: var(--dl-color-theme-secondary1);
  border: none;
  cursor: pointer;
  font-size: var(--typography-body-font-size-small);
  font-weight: var(--typography-body-font-weight);
}

.button:disabled {
  background-color: #f3f2f2;
  cursor: not-allowed;
}
