.input {
  border: none;
  border-bottom: 1px solid #333;
  display: block;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  height: 29px;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 200;
  font-family: Inter, sans-serif;
  padding-left: 0;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 5px 6px -4px rgba(0, 123, 255, 0.3);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
