.product-details,
.product-details > * {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.overview {
  flex-flow: row;
  max-width: 1200px;
  margin: 0 auto;
  height: 630px;
  margin-top: 26px;
}

.image-container {
}
.image-container img {
  height: 660px;
}

.info-container {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  padding-top: 78px;
}

.info-container .info {
  width: 380px;
  height: 459px;
}

.info-container .info .name {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.info-container .info .price {
  font-size: 20px;
  font-weight: 300;
}

.storage {
  margin-top: 30px;
}

.specifications {
}
.similarProducts {
}
